<header>
    <h3 class="h6">Latest Posts</h3>
  </header>
  <div class="blog-posts" *ngFor="let post of posts">
      <a routerLink>
      <div class="item d-flex align-items-center">
        <div class="image"><img [src]="post.featuredImage" alt="..." class="img-fluid"></div>
        <div class="title"><strong>{{ post.title}}</strong>
          <div class="d-flex align-items-center">
            <div class="views"><i class="icon-eye"></i>{{ post.views }}</div>
            <div class="comments"><i class="icon-comment"></i>{{ post.comments.length }}</div>
          </div>
        </div>
      </div></a>
      <!-- <a routerLink>
      <div class="item d-flex align-items-center">
        <div class="image"><img src="/assets/img/small-thumbnail-2.jpg" alt="..." class="img-fluid"></div>
        <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
          <div class="d-flex align-items-center">
            <div class="views"><i class="icon-eye"></i> 500</div>
            <div class="comments"><i class="icon-comment"></i>12</div>
          </div>
        </div>
      </div></a>
      <a routerLink>
      <div class="item d-flex align-items-center">
        <div class="image"><img src="/assets/img/small-thumbnail-3.jpg" alt="..." class="img-fluid"></div>
        <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
          <div class="d-flex align-items-center">
            <div class="views"><i class="icon-eye"></i> 500</div>
            <div class="comments"><i class="icon-comment"></i>12</div>
          </div>
        </div>
      </div></a> -->
    
    </div>