<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8"> 
      <div class="container">
        <div class="row">
          <!-- post -->
          
            <app-post-card class="post col-xl-6" *ngFor="let post of blogPosts" [post]="post"></app-post-card>
            <div class="w-100"><app-paging (newPage)="getPage($event)" [page]="page"></app-paging></div>
       
        </div>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <app-search-widget>

        </app-search-widget>
      </div>
      <!-- Widget [Latest Posts Widget] -->
      <div class="widget latest-posts">
        <app-latest-posts></app-latest-posts>
      </div>
      <!-- Widget [Categories Widget]-->
      <div class="widget categories">
        <app-categories></app-categories>
      </div>
      <!-- Widget [Tags Cloud Widget]-->
      <div class="widget tags">       
        <app-tags></app-tags>
      </div>
    </aside>
  </div>
</div>