<!-- Hero Section -->
<section style="background: url(/assets/img/Taiwan.jpg); background-size: cover; background-position: center center" class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h1>Blanco Blog -</h1>
          <h1>A free blog posting website</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Intro Section -->
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="h3">How to add my new post?</h2><br />
          <p class="text-big">1. Go to <b>Admin</b> tab</p>
          <p class="text-big">2. Click <b>New Post</b> button</p>
          <p class="text-big">3. Fill out the form to complete your post!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="featured-posts no-padding-top">
    <!-- <div class="container"> -->
      <!-- Post -->
      <!-- <div class="row d-flex align-items-stretch">
        <div class="text col-lg-7">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                <div class="category"><a routerLink>Business</a><a routerLink>Technology</a></div><a routerLink="/post">
                  <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <footer class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>John Doe</span></div></a>
                <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                <div class="comments"><i class="icon-comment"></i>12</div>
              </footer>
            </div>
          </div>
        </div>
        <div class="image col-lg-5"><img src="/assets/img/featured-pic-1.jpeg" alt="..."></div>
      </div> -->
      <!-- Post -->
      <!-- <div class="row d-flex align-items-stretch">
        <div class="image col-lg-5"><img src="/assets/img/featured-pic-2.jpeg" alt="..."></div>
        <div class="text col-lg-7">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                <div class="category"><a routerLink>Business</a><a routerLink>Technology</a></div><a routerLink="/post">
                  <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <footer class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-2.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>John Doe</span></div></a>
                <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                <div class="comments"><i class="icon-comment"></i>12</div>
              </footer>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Post                            -->
      <!-- <div class="row d-flex align-items-stretch">
        <div class="text col-lg-7">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                <div class="category"><a routerLink>Business</a><a routerLink>Technology</a></div><a routerLink="/post">
                  <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <footer class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>John Doe</span></div></a>
                <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                <div class="comments"><i class="icon-comment"></i>12</div>
              </footer>
            </div>
          </div>
        </div>
        <div class="image col-lg-5"><img src="/assets/img/featured-pic-3.jpeg" alt="..."></div>
      </div>
    </div> -->
  </section>
  <!-- Divider Section-->
  <section style="background: url(/assets/img/divider-bg.jpg); background-size: cover; background-position: center bottom" class="divider">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Optimism is the faith that leads to achievement</h2><a href="https://en.wikipedia.org/wiki/Helen_Keller" class="hero-link">Helen Keller</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Posts -->
  <section class="latest-posts">
    <div class="container">
      <header>
        <h2>Latest from the blog</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </header>
      <div class="row">
        <div class="post col-md-4">
          <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/blog-1.jpg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category"><a routerLink>Business</a></div>
            </div><a routerLink="/post">
              <h3 class="h4">Ways to remember your important ideas</h3></a>
            <p class="text-muted">LLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/blog-2.jpg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category"><a routerLink>Technology</a></div>
            </div><a routerLink="/post">
              <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/blog-3.jpg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category"><a routerLink>Financial</a></div>
            </div><a routerLink="/post">
              <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Gallery Section-->
  <section class="gallery no-padding">
    <div class="row">
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item"><a href="/post/5f1de25d1f893d9cb924fa4e" data-fancybox="gallery" class="image"><img src="/assets/img/alley.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item"><a href="/post/5f378bec3986bf001730a07d" data-fancybox="gallery" class="image"><img src="/assets/img/waterfall.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item"><a href="/post/5f1de25d1f893d9cb924fa56" data-fancybox="gallery" class="image"><img src="/assets/img/Yehliu.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item"><a href="/post/5f1de25d1f893d9cb924fa4d" data-fancybox="gallery" class="image"><img src="/assets/img/nightmarket.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
      </div>
    </div>
  </section>
